<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Strategic Decision-making Experiment</title>
    </head>
    <body>
        {% load otree static %}
        <div class="card bg-light instructions">
            <div class="card-body">
                <h3 align="center">Welcome to the Strategic Decision-Making Experiment. </h3>
                <br>
                <b>Overview:</b> Pre-Experiment Questionnaire, Game 1, Game 2, Game 3, Post-Experiment Questionnaire
                <br><br>
                <b>Player types:</b> 
                <ul>
                    <li>You</li>
                    <li>Other human players</li>
                    <li>Human players who have artificial intelligence advisors</li>
                    <li>Artificial intelligence players</li>
                </ul>
                In at least one game, you will have access to a human expert advisor and an artificial intelligence advisor.
                <br><br>
                The human expert advisor has studied game theory and behavioral economics, and understands the nuances and optimal strategies in the kinds of games you will be playing.
                <br><br>
                The artificially intelligent players and advisors are sophisticated learning algorithms trained by playing against human players and other AI algorithms using a learning technique called recursive self-play. They use various frameworks including deep learning, neural networks, and counterfactual regret minimization.

                <br><br>
                <b>Confidentiality:</b> Your answers will be confidential. The researcher has no way to personally identify you.  
                <br><br>
                <b>Performance:</b> In each game, there is a different scoring criteria which will be explained in the instructions.  Your goal is to compete and make decisions such as to maximize your score as a member of your school's team - there is a side bet going between SOS, ACSC, AWC, and SAASS on which students do the best.
                <br><br>
                Good luck!

            </div>
        </div>
    </body>
</html>
