<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Strategic Decision-making Experiment</title>
    </head>
    <body>
        {% load otree static %}
        <div class="card bg-light instructions">
            <div class="card-body">
                <h3 align="center">Welcome to the Strategic Decision-Making Experiment. </h3>
                <br>
                <b>Overview:</b> Pre-Experiment Questionnaire, Game 1, Game 2, Game 3, Post-Experiment Questionnaire
                <br><br>
                <b>Players:</b> You, other humans, machine players. 
                <br><br>
                <b>Two types of machine players:</b>
                    <ul>
                        <li>a) <u>simple algorithms</u> executing a non-conditional strategy</li>
                        <li>b) <u>sophisticated artificial intelligence agents</u> trained against human players and other artificial players.</li>
                    </ul>
                You will be asked which type of machine you played with.
                <br><br>
                <b>Confidentiality:</b> Your answers will be confidential. The researcher has no way to personally identify you.  
                <br><br>
                <b>Performance:</b> Compete and make decisions to the best of your ability, there is a side competition between SOS, ACSC, AWC, and SAASS.
                <br><br>
                Good luck!

            </div>
        </div>
    </body>
</html>
