{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Debrief
{% endblock %}

{% block content %}
<p> 
    Thank you for your participation in this experiment. 
</p>
<br>
<p> 
    As stated in the introduction, here is a debrief on who you played with today:
</p>
<br>
<p> 
    The human player played a non-conditional strategy. 
</p> 
<br>
<p>
    Today you played: 
</p>
There ARE artificially intelligent players that exist and are very effective.  In fact, they exhibit some very interesting, and very non-human, characteristics in simple games such as the ones you played today. If you are interested, the researcher will be happy to discuss the topic with you.  Please let him know</p>
<br>
<p><b>Please do not share your experience in the game with anyone </b> until told by the researcher that is ok to discuss. You can understand how a participant's prior knowledge of the information on this page would corrupt the experiment. </p>
<br>
    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}
