{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Post-game Questionnaire (Page {{ page_num}} of {{ Constants.number_of_pages }})
{% endblock %}

{% block content %}

    <p>
        Please answer the following questions.  The questions in this questionnaire are anonymous and will not be used to identify you.  This questionnaire has been approved under Air University Survey Control Number: AUFELLOW1201. 
    </p>
    {% autoescape off %}
    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}
    {% endautoescape %}
{% endblock %}
