
{% load otree static %}
<!--
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
-->
<body style="background-color: lightgray; color: black">
    <div class="card bg-light instructions">
        <div class="card-body">


            <link rel="stylesheet" type="text/css"
                  href="{% static 'global/matrix.css' %}"/>



            <b> Scenario:</b> You and the other players are military-political decision-makers for your respective countries.  
            <br><br>
            <b>Players:</b>
            <ul>
                <li>You: <i align="center" class="fas fa-user-circle fa-2x"></i></li>
                <li>Another human decision-maker: <i  align="center" class="far fa-user fa-2x"></i></li>
                <li>A human decision-maker who has AI to help them: <i class="far fa-user fa-2x"><i align="center" class="fas fa-laptop-code"></i></i></li>
                 <li>An AI decision-maker: <i class="fas fa-laptop-code fa-2x"></i></li>
            </ul>
            <br>
            <b>Decisions:</b> In each round, choose <button type="button" class="btn btn-primary btn-large" style="border-color: black"><i align="center" class="far fa-handshake fa-lg"><br><small>Peace</small></i></button> or <button type="button" class="btn btn-primary btn-large" style="border-color: black"><i align="center" class="fas fa-fighter-jet fa-lg"><br><small>War</small></i></button> with each of these competitors. <br><u><i>Note: You will make three decisions each round</i></u> (one for each competitor).
            <br>
            <br>
            <br>
            <b> Scoring: </b> (in each pairing of you and one other player)
            <ul>
                <li>If you both select peace, you enjoy prosperity and get {{ Constants.both_Peace_payoff }}.<br><br><i align="center" class="far fa-handshake fa-lg"><br><small>Peace</small></i> + <i align="center" class="far fa-handshake fa-lg"><br><small>Peace</small></i> = {{ Constants.both_Peace_payoff }} each.</li><br>
                <li>If one of you chooses Peace and the other chooses War, the player who chose Peace gets defeated and gets {{ Constants.betrayed_payoff }} and the player who chose War wins the spoils and gets {{ Constants.betray_payoff }}.<br><br><i align="center" class="far fa-handshake fa-lg"><br><small>Peace</small></i> + <i align="center" class="fas fa-fighter-jet fa-lg"><br><small>War</small></i> = Winner: {{ Constants.betray_payoff }}, Loser: {{ Constants.betrayed_payoff}}</li><br>
                <li>If both of you select War, you go to a costly war and both of you receive {{ Constants.both_War_payoff }}.<br><br><i align="center" class="fas fa-fighter-jet fa-lg"><br><small>War</small></i> + <i align="center" class="fas fa-fighter-jet fa-lg"><br><small>War</small></i> = {{ Constants.both_War_payoff }} each.</li>
                <br><i>
                Therefore, your best interest is based upon the combination of your choice and your adversary's choice.  You will not know your adversary's choice until after you select yours, but you can see previous choices.</i>
            </ul>


            <b> Goal:</b> Maximize your score!
<hr>
            <b>Good luck!</b>


        </div>
    </div>
</body>