{% extends "global/Page.html" %} {% load otree static %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}
Gathering participants
{% endblock %}



{% block scripts %}

<script>
    function playerOne(){
        $("#progressBar").html("One Participant joined.");
        $("#progressBar").css("width","60%");

    }
    function playerTwo(){
        $("#progressBar").html("Second Participant joined.");
        $("#progressBar").css("width","90%");
    }
    function activateAI(){
        $("#progressBar").html("Activating AI adversary.");
        $("#progressBar").css("width","100%");
    }
    $(document).ready(function(){
        setTimeout(function(){playerOne();}, 4000);
        setTimeout(function(){playerTwo();}, 10000);
        setTimeout(function(){activateAI();}, 11500);
        setTimeout(function() { $('form').submit(); }, 13500);
    });
</script>
{% endblock %}

{% block content %}
<body style="background-color: lightgray; color: black">
    <div class="card bg-light instructions">
        <div class="container">
            <h2>Forming Game</h2>
            <p>Waiting for <b>2</b> participants (adversaries)...</p> 
            <div class="progress">
                <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" style="width:20%">Request sent...</div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
