{% extends "global/Page.html" %} {% load otree static %}

 
{% block title %}
	Your Choices 
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

	<style>
		.highlight-row-on-hover:hover td {
			background-color: #fcf8e3;
		}
		.invalid-blink {
			background-color: gray;
		}
	   .highlight-selected {
			background-color: red;
		}
	</style>

{% endblock %}

{% block scripts %}
	<script>
		$(function() {
		var on = false;
		window.setInterval(function() {
			on = !on;
			if (on) {
				$('.invalid').addClass('invalid-blink')
			} else {
				$('.invalid-blink').removeClass('invalid-blink')
			}
		}, 200);
	});
	</script>
	
{% endblock %}


{% block content %}
	<div class="form-group required"> 
            My decisions w: adv 1: {{ my_decision_adv_1_total }} <br>
            Adv 1 ({{ player.adv_1_type }}) decisions: {{ adv_1_decision_total }}<br>
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
		  <label class="btn btn-secondary active">
			  <input type="radio" name="decision_vs_adv_1" id="decision_vs_adv_1" value="Cooperate" autocomplete="off"> Cooperate
		  </label>
		  <label class="btn btn-secondary">
			  <input type="radio" name="decision_vs_adv_1" id="decision_vs_adv_1" value="Defect" autocomplete="off"> Defect
		  </label>
		</div>
		<br>
		
           My decisions w: adv 2: {{ my_decision_adv_2_total }} <br>
          Adv 2 ({{ player.adv_2_type }}) decisions: {{ adv_2_decision_total }}<br>
 				<div class="btn-group btn-group-toggle" data-toggle="buttons">
		  <label class="btn btn-secondary active">
			  <input type="radio" name="decision_vs_adv_2" id="decision_vs_adv_2" value="Cooperate" autocomplete="off"> Cooperate
		  </label>
		  <label class="btn btn-secondary">
			  <input type="radio" name="decision_vs_adv_2" id="decision_vs_adv_2" value="Defect" autocomplete="off"> Defect
		  </label>
		</div>
                <br>

	</div>
{% next_button %}

{% include Constants.instructions_template %}





{% endblock %}
