{% extends "global/Page.html" %} {% load otree static %}


{% block title %}
{% endblock %}

{% block styles %}




<style>
    #panel, #flip, #flipHistoryTab, #historyPanel {
        padding: 5px;
        text-align: center;
        background-color: lightblue;
        border: solid 1px black;
        color: black;
    }
    #panel, #historyPanel {
        padding: 50px;
        display: none;
        background-color: whitesmoke;
        color: black;
    }
    .buttonFlip {
        transform: rotate(270deg) scaleX(-1);
    }
    .inlineTable {
        display: inline-block;
        vertical-align: top;
    }
    h4 {text-align:center;}
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.8); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
    #overlay_text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
    #adv_bounce, #player_bounce {
        /*        padding: 20px;*/
    }

    #buttonbounce {
        position: absolute;

    }
    #outline_table td {
        padding: 20px 30px 15px 30px;
    }
    #small_table td {
        padding: 10px 10px 10px 10px;
    }

</style>

{% endblock %}

{% block scripts %}
<script>
    var human_advice = "{{ human_advice_v_adv_1 }}";
    var AI_advice = "{{ AI_advice_v_adv_1 }}";
    //    console.log("human advice = "+human_advice);
    //    console.log("AI advice = " + AI_advice);
    function log_user_choice (e){ //logs user's button click (rock/paper/scissors/AI/human), then returns R/P/S based on user click or choice of advisor.  

        console.log("user_button_choice"+$(e).attr("id"));
        if ($(e).attr('id')== 'human_expert') {
            //$("#advisor_choice_value").value = 'human';
            document.getElementById("advisor_choice_value").value = 'human';
            document.getElementById("my_hidden_value").value = human_advice;
            //            $(e).attr('id', human_advice);
            return "{{ human_advice_v_adv_1 }}"

        } else if ($(e).attr('id') == 'AI_expert') {
            //$("#advisor_choice_value").value = 'AI'
            document.getElementById("advisor_choice_value").value = 'AI';
            document.getElementById("my_hidden_value").value = AI_advice; //set the value of the player's choice to the id of the button clicked send to oTree/django
            return "{{ AI_advice_v_adv_1 }}"

        } else {
            document.getElementById("my_hidden_value").value = $(e).attr("id"); //set the value of the player's choice to the id of the button clicked send to oTree/django
            document.getElementById("advisor_choice_value").value = 'none';
            return $(e).attr("id")
        }
        console.log("advisor choice= "+($("#advisor_choice_value").value));

    } //logs the user's choice

    function disable_hide_other_buttons (e){
        $(':button').prop('disabled', true); //disable all buttons
        $(':button').hide();
        $('.labels').hide();
        $('.un_labels').show();
        $("#adv_bounce").show();
        $("#player_bounce").show();

        //$(e).prop('disabled', false); //re-enable button the user selected (this is just for display since disabled buttons are greyed out) n
    } //disables user buttons so they can't change choice
    function bounce_fists (){

        $("#adv_bounce").effect("bounce", { times:1 }, 400);
        $("#player_bounce").effect("bounce", { times:1 }, 400);
        $("#adv_bounce").effect("bounce", { times:1 }, 400);
        $("#player_bounce").effect("bounce", { times:1 }, 400);
        console.log("3"+$("#outline_table").css("width"));
        $("#adv_bounce").effect("bounce", { times:1 }, 400);
        $("#player_bounce").effect("bounce", { times:1 }, 400); 
        console.log("4"+$("#outline_table").css("width"));
        $("#adv_bounce").effect("bounce", { times:1 }, 400);
        $("#player_bounce").effect("bounce", { times:1 }, 400);
    } // bounces the fists like in real RPS
    function change_fists (e, net_choice) {
        //change player button
        $(e).find('i').remove();
        if (($(e).text().trim() == 'Rock')||(net_choice=="Rock")) { //if it's the rock button
            $("#player_bounce").html($('<i/>',{class:'far fa-hand-rock fa-7x fa-rotate-90'}));//.append('Rock');
        }
        else if (($(e).text().trim() == 'Paper')||(net_choice=="Paper")) { //samesies
            $("#player_bounce").html($('<i/>',{class:'far fa-hand-paper fa-7x fa-rotate-90'}));//.append('Paper');
        }
        else { //samesies
            $("#player_bounce").html($('<i/>',{class:'far fa-hand-scissors fa-7x fa-flip-horizontal'}));//.append('Scissors');
        }

        //change adversary button
        if ('{{ adv_1_decision }}' == "Rock") {
            $("#adv_bounce").html($('<i/>',{class:'far fa-hand-rock fa-7x'}));//.append('Rock');
        } else if ('{{ adv_1_decision }}'  == "Paper") {
            $("#adv_bounce").html($('<i/>',{class:'far fa-hand-paper fa-7x'}));//.append('Paper');

        } else {
            $("#adv_bounce").html($('<i/>',{class:'far fa-hand-scissors fa-7x buttonFlip'}));//.append('Scissors');

        }
    } //changes the bouncing fists into the choice
    function select_winner (e, net_choice) {//e is participant button
        if (('{{ adv_1_decision }}' == "Rock") && (net_choice == 'Paper')||//or (replaced $(e).text().trim() with net_choice
            (('{{ adv_1_decision }}' == "Paper") && (net_choice == 'Scissors'))||//or
            (('{{ adv_1_decision }}' == "Scissors") && (net_choice == 'Rock'))) { //if the player won

            return "player";

        } else if (('{{ adv_1_decision }}' == "Rock") && (net_choice == 'Scissors')||//or
                   (('{{ adv_1_decision }}' == "Paper") && (net_choice == 'Rock'))||//or
                   (('{{ adv_1_decision }}' == "Scissors") && (net_choice == 'Paper'))) { // if the adversary won

            return "adversary";

        } else { //if it was a draw

            return "draw";
        }
    } //selects the winner for display purposes not oTree
    function win_animation (w){ //w is a string of winner, e is player button
        //$("#adv_button").removeClass("buttonFlip");
        if (w == "adversary") { //adversary won
            //            $(e).css("background-color", "gray");
            $("#adversary").css("color", "red");
            $("#adversary").css("border", "solid");

            //$("#player_bounce").addClass("bg-danger")
            $("#player").css('color','grey');
            document.getElementById("overlay_text").innerHTML="You lost!";
            $("#overlay").css('background-color', 'rgba(200,0,0,0.8)');
            //setTimeout(function (){document.getElementById("overlay").style.display = "block"},1000); //delays before showing overlay

        } else if (w == "player") { //player won
            $("#player").css('color','green');
            //$("#player_bounce").addClass("bg-success")

            $("#player").css("border", "solid");
            $("#adversary").css("color", "grey");
            $("#overlay").css('background-color', 'rgba(0,155,0,0.8)');
            document.getElementById("overlay_text").innerHTML="You won!";
        } else { //draw

            $("#adversary").css("color", "grey");
            $("#player").css('color','grey');
            $("#overlay").css('background-color', 'rgba(0,0,0,0.8)');
            document.getElementById("overlay_text").innerHTML="It's a draw.";
        }
        setTimeout(on, 1000); //delays before showing overlay

    } //animates the win
    function on() { //overlay on
        document.getElementById("overlay").style.display = "block";
    } //turns on the overlay
    function off() { //overlay off and submit the form (for the excited player!)
        document.getElementById("overlay").style.display = "none"
        $('form').submit();
    } //turns off the overlay and submits the form
    function color_winner (){

    }
    var adversary_id = "{{ adversary_id }}"
    $(document).ready(function () { 
        $("#flip").click(function(){ //toggles instruction bar
            $("#panel").slideToggle("slow");
        });
        $("#flipHistoryTab").click(function(){ //toggles instruction bar
            $("#historyPanel").slideToggle("slow");
        });
        if (adversary_id = 'AI'){
            $("#adversary_identifier").html('<i class="fas fa-laptop-code fa-2x"></i><br> AI')
        } else if (adversary_id = 'human+AI'){
            $("#adversary_identifier").html('<i class="far fa-user fa-2x"><i align="center" class="fas fa-laptop-code"></i></i><br> Player {{ Constants.human_ai_adversary_id }}) w/AI')
        }
        $("button").click(function(){ // when any button is clicked (only participant choices are visible, so any button is a player's choice)

            net_choice = log_user_choice(this);
            disable_hide_other_buttons(this); //disables the player's other choices
            bounce_fists(); //do the 1..2..3..go animation
            winner = select_winner(this, net_choice); // choose a winner (no display here)
            setTimeout(change_fists, 1500, this, net_choice);//change bouncing fists to show choices
            setTimeout(win_animation, 2600, winner); // animate the win
            setTimeout(function() { $('form').submit(); }, 6000);//delay for a moment before submitting to let player see. 

        });
    }); 


</script>

{% endblock %}


{% block content %}
<body style="background-color: lightgray; color: black">
    <h2 align="center"> </h2>
    <table class="whitebox" frame="box" align="center" id="small_table" style="background-color: white">      
        <tr>
            <th colspan="3" align="center">
                <h2 align="center">Round: {{player.round_number}}</h2>
            </th>
        </tr>
        <tr>
            <td>
                <i align="center" class="fas fa-user-circle fa-2x"></i><br>You
            </td>
            <td align="center">
                vs:</td>
            <td id="adversary_identifier" align="center">
                <i  align="center" class="far fa-user fa-2x"></i> <br>Player {{ Constants.human_adversary_id }}
            </td>

        </tr>
    </table>
    <table class="whitebox" frame="box" align="center" id="outline_table" style="background-color: white">
        <tr>
            <td>
                <div  class="labels" align="center"><b>Choose wisely:</b></div><br>
                <table align="center">
                    <th>
                        <tr>
                            <th>
                                <div id="player"> 
                                    <button align="center" type="button" style="border-color: black;" class="btn btn-secondary active" id="Rock" autocomplete="off">
                                        <i class="far fa-hand-rock fa-3x"></i><br>Rock  
                                    </button>
                                    <button align="center" type="button" style="border-color: black;" class="btn btn-secondary active" id="Paper"  autocomplete="off">
                                        <i class="far fa-hand-paper fa-3x"></i><br>Paper  
                                    </button>
                                    <button align="center" type="button" style="border-color: black;" class="btn btn-secondary active"  id="Scissors" autocomplete="off">
                                        <i class="far fa-hand-scissors fa-3x fa-flip-horizontal"></i><br>Scissors
                                    </button>
                                    <div style="display: none"  align="center" class="un_labels">
                                        <div style="display: none;" id="player_bounce"><i class="far fa-hand-rock fa-7x fa-rotate-90"></i>
                                        </div>
                                        You<br>Player {{ player.id}}
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div id="adversary">
                                    <div style="display: none" align="center" class="un_labels">
                                        <div style="display: none;" id="adv_bounce" class="buttonFlip"><i class="far fa-hand-rock fa-7x"></i><br></div>
                                        Adversary<br>({{ adversary_id }})
                                    </div>
                                </div>
                            </th>
                        </tr>

                    </th>
                </table>



                <div id="overlay" onclick="off()">
                    <div id="overlay_text">Overlay Text</div>
                </div>
                <input type="hidden" name="decision_vs_adv_1" id="my_hidden_value">
                <input type="hidden" name="advisor_choice" id="advisor_choice_value">
                <br>
                <div align="center">
                    <div class="labels">
                        <b>or,</b><br><br>
                        <b>Trust one of your expert advisors:</b>
                        <br>
                        <br>
                    </div>
                    <table>
                        <tr> 
                            <th>
                                <button type="button" align="center" style="border-color: black;" class="btn btn-secondary active"  id="AI_expert" autocomplete="off">
                                    <i class="fas fa-desktop fa-3x"></i><i class="fas fa-server fa-3x"></i><br>AI<br>Advisor
                                </button> 
                            </th> 
                            <th>
                                <button type="button" align="center" style="border-color: black;" class="btn btn-secondary active"  id="human_expert" autocomplete="off">
                                    <i class="fas fa-user fa-3x"></i><br>Person<br>({{ human_advisor_id}})
                                </button>
                            </th>
                        </tr>
                    </table>
                </div>

            </td></tr>
    </table>
    <hr>
    <!-- Table history of choices for player and adversary 1 -->
    <div id="flipHistoryTab" align="center">Click for Results of Previous Rounds</div>
    <div id="historyPanel" align="center">
        <table border=1 class="inlineTable table-bordered text-center" style="width: auto; margin: auto; vertical-align: middle">
            <tr><th>Colors</th></tr>
            <tr><td style="background-color: green">You Won</td></tr>
            <tr><td style="background-color: red">You Lost</td></tr>
            <tr><td>Draw</td></tr>

        </table>
        <table border=1  class="inlineTable table-bordered text-center" style="width: auto; margin: auto">
            <th>Round</th><th>You Played</th><th>Competitor</th><th>Advisor</th>
            {% for key,value in history_list.items %}
            {%if key == player.round_number %}
            {% else %}
            <tr>
                <td style="background-color: {% if value.3 == "player" %}green{% elif value.3 == "adversary" %}red{% endif %}">{{key}}</td>
                {% for i in value|slice:":-1" %}
                <td>
                    {{i}} 
                </td>
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <hr>
    <div id="flip" align="center">Click for Instructions</div> 
    <div id="panel">{% include Constants.instructions_template %}</div>
    {{ form.advisor_choice.errors }}
</body>
{% endblock %}
