{% extends "global/Page.html" %} {% load otree static %}


{% block title %}
<!--Your Choices -->
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
<style>
    .pattern {
        background: repeating-linear-gradient(45deg, green, blue 30px, green 30px, blue 60px);
    }
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }
    .invalid-blink {
        background-color: gray;
    }
    .record_table {
        width: 100%;
        border-collapse: collapse;
    }
    .record_table tr:hover {
        background: #fcf8e3;
    }
    .record_table td {
        border: 1px solid #fcf8e3;
    }
    .highlight_row {
        background: #fcf8e3;
    }
    .unhighlight_row {

    }
    .highlight-selected {
        background-color: red;
    }
    .floatedTable {
        float:left;
    }
    .inlineTable {
        display: inline-block;
        vertical-align: top;
    }
    h4 {text-align:center;}
    .adv_1_DecisionIndicator {
        animation: pulse .25s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: {{ adv_1_DelayTime }};
    }

    .human_advisor_adv_1_Indicator {
        animation: pulse .25s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: {{ human_DelayTime_adv_1 }};
    }
    .ai_advisor_adv_1_Indicator {
        animation: pulse .25s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: {{ AI_DelayTime_adv_1 }};
    }
    @keyframes pulse {
        0% {
            color: white;
            background-color: white;

        }
        100% {
            background-color: orange;
            color: black;
        }
    }
</style>

{% endblock %}

{% block scripts %}

<script>
    var humanColor = "green";
    var aiColor = "blue";
    var black = "black"
    var decisionVsAdv1 = document.getElementById("decision_vs_adv_1").value;
    function setBackground(){
        document.body.style.backgroundColor = "red";
    }
    function randInt(min, max) {
        return Math.floor(Math.random() * (max-min + 1) + min)
    }
    function setHumanColor(id) {
        document.getElementById(id).style.backgroundColor=humanColor;

    }
    function setHumanAdvice(id) {
        document.getElementById(id).style.color= "black";
    }
    function setAIColor(id) {
        document.getElementById(id).style.backgroundColor=aiColor;
    }
    function setBothColor(id) {
        document.getElementById(id).style.backgroundColor= "white";
        document.getElementById(id).className="pattern";
    }
    function changeRowColor(id) {
        if (document.getElementById(id).checked) {
            document.getElementByD
        }
    }
    function adv_1 () { //creates the effect of AI and human advisors
        var ai_advice_v_adv_1 = "{{ AI_advice_v_adv_1 }}"
        var human_advice_time = randInt(2,10)*1000;
        var ai_advice_time = randInt(0,3)*1000;
        var human_advice_v_adv_1 = "{{ human_advice_v_adv_1 }}"
        if (human_advice_v_adv_1 == 'Rock' && ai_advice_v_adv_1 == 'Rock') {
            //            setAIColor("adv_1_Rock");
            setTimeout(setAIColor, ai_advice_time,"adv_1_Rock");
            setTimeout(setBothColor, human_advice_time,"adv_1_Rock");
            setTimeout(setHumanAdvice, human_advice_time, "human_advice");
        } else if (human_advice_v_adv_1  == 'Paper' && ai_advice_v_adv_1 == 'Paper') {
            //            setAIColor("adv_1_Paper");
            setTimeout(setAIColor, ai_advice_time,"adv_1_Paper");
            setTimeout(setBothColor, human_advice_time,"adv_1_Paper");
            setTimeout(setHumanAdvice, human_advice_time, "human_advice");
        } else if (human_advice_v_adv_1  == 'Scissors' && ai_advice_v_adv_1 == 'Scissors') {   
            //            setAIColor("adv_1_Scissors");
            setTimeout(setAIColor, ai_advice_time,"adv_1_Scissors");
            setTimeout(setBothColor, human_advice_time,"adv_1_Scissors");
            setTimeout(setHumanAdvice, human_advice_time, "human_advice");
        } else {
            if (human_advice_v_adv_1 == 'Rock') {
                //                setHumanColor('adv_1_Rock');
                setTimeout(setHumanColor, human_advice_time, "adv_1_Rock");
                setTimeout(setHumanAdvice, human_advice_time, "human_advice");
            } else if (human_advice_v_adv_1 == 'Paper'){
                //                setHumanColor('adv_1_Paper');
                setTimeout(setHumanColor, human_advice_time, "adv_1_Paper");
                setTimeout(setHumanAdvice, human_advice_time, "human_advice");
            } else if (human_advice_v_adv_1 == 'Scissors'){
//                setHumanColor('adv_1_Scissors');
                setTimeout(setHumanColor, human_advice_time, "adv_1_Scissors");
                setTimeout(setHumanAdvice, human_advice_time, "human_advice");
            } 
            if (ai_advice_v_adv_1 == 'Rock') {
                setAIColor('adv_1_Rock');    
            } else if (ai_advice_v_adv_1 == 'Paper'){
                setAIColor('adv_1_Paper');      
            } else if (ai_advice_v_adv_1 == 'Scissors'){
                setAIColor('adv_1_Scissors');                         
            } 
        }

    }
    $(document).ready(function () { // highlights the row when the radio button is selected.
        $('.record_table tr').click(function (event) {
            if (event.target.type !== 'radio') {
                $(':radio', this).trigger('click');
            }
        });

        $("input[type='radio']").change(function (e) {
            e.stopPropagation();     
            if ($(this).is(":checked")) {
                $(this).closest('tr').siblings('tr').removeClass("highlight_row");
                $(this).closest('tr').addClass("highlight_row");
            }
        });   
    });

</script>

{% endblock %}


{% block content %}
<body onload="adv_1()">


<!--<hr>-->
    <!--    <h4> Competitor 1 </h4>-->


    <table border=1  class="inlineTable table-bordered text-center" style="width: auto; margin: auto">
        <tr><th style="color: white" bgcolor="green">Human expert's advice to you:</th><th id="human_advice" style="color:white"> {{ human_advice_v_adv_1 }}</th></tr>
        <tr><th style="color: white" bgcolor="blue">AI's advice to you: </th><th id="ai_advice" style:"color:white">{{ AI_advice_v_adv_1 }}</th></tr>
    </table>
    <br>


    <!-- selection table with buttons for adversary 1-->
    <div class="inlineTable form-group required">

        <div class="btn-group form-group required">
            <table class="table table-bordered text-center" style="width: auto; margin: auto">
                <tr>
                    <th colspan="2" rowspan="3" style="font-size:200%;"> Round: <br> {{player.round_number}} </th>
                    <th colspan="3">Competitor 1 ({{ player.adv_1_type }})</th>
                </tr>
                <tr>
                    <th style="color:white" class="adv_1_DecisionIndicator" colspan="3">Competitor has selected their choice</th>
                </tr>
                <tr>
                    <th>Rock</th>
                    <th>Paper</th>
                    <th>Scissors</th>
                </tr>
                <tr id="adv_1_row_rock" class="highlight-row-on-hover">
                    <th rowspan="4"><span class="rotate90">You</span></th>
                </tr>
                <tr class="highlight-row-on-hover">
                    <th id="adv_1_Rock">       
                        <label class="btn btn-secondary active">
                            <input type="radio" name="decision_vs_adv_1" id="decision_vs_adv_1" value="Rock" autocomplete="off"> Rock
                        </label>
                    </th>
                    <td>Draw<br>{{Constants.draw_payoff}}, {{Constants.draw_payoff}}</td>
                    <td>Lose<br>{{ Constants.lose_payoff }}, {{Constants.win_payoff}}</td>
                    <td>Win!<br>{{Constants.win_payoff}}, {{Constants.lose_payoff}}</td>
                </tr>
                <tr class="highlight-row-on-hover">
                    <th id="adv_1_Paper">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="decision_vs_adv_1" id="decision_vs_adv_1" value="Paper" autocomplete="off"> Paper
                        </label>
                    </th>
                    <td>Win!<br>{{Constants.win_payoff}}, {{Constants.lose_payoff}}</td>
                    <td>Draw<br>{{ Constants.draw_payoff }}, {{Constants.draw_payoff}}</td>
                    <td>Lose<br>{{Constants.lose_payoff}}, {{Constants.win_payoff}}</td>
                </tr>
                <tr class="highlight-row-on-hover">
                    <th id="adv_1_Scissors">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="decision_vs_adv_1" id="decision_vs_adv_1" value="Scissors" autocomplete="off"> Scissors
                        </label>
                    </th>
                    <td>Lose<br>{{Constants.lose_payoff}}, {{Constants.win_payoff}}</td>
                    <td>Win!<br>{{ Constants.win_payoff }}, {{Constants.lose_payoff}}</td>
                    <td>Draw<br>{{Constants.draw_payoff}}, {{Constants.draw_payoff}}</td>
                </tr>
            </table>
        </div>

    </div>
    <!-- Table history of choices for player and adversary 1 -->
    <table border=1  class="inlineTable table-bordered text-center" style="width: auto; margin: auto">
        <td><b>Round</b></td>
        {% for num in list_of_round_nums   %}
        <tr>
            <td>{{ num }}</td>
        </tr>
        {% endfor %}
    </table>
    <table border=1  class="inlineTable table-bordered text-center" style="width: auto; margin: auto">
        <td><b>You</b></td>
        {% for day in my_decision_adv_1_total   %}
        <tr>
            <td>{{ day }}</td>
        </tr>
        {% endfor %}
    </table>
    <table border=1  class="inlineTable table-bordered text-center" style="width: auto; margin: auto">
        <td><b>Competitor</b></td>
        {% for night in adv_1_decision_total   %}
        <tr>
            <td>{{ night }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    {% next_button %}

<!--

    {% include Constants.instructions_template %}
-->





    {% endblock %}
