{% extends "global/Page.html" %} {% load otree static %}


{% block title %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>

<style>
    #panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #e5eecc;
        border: solid 1px #c3c3c3;
    }
    #panel {
        padding: 50px;
        display: none;
    }
    .pattern {
        background: repeating-linear-gradient(45deg, green, blue 30px, green 30px, blue 60px);
    }
    .inlineTable {
        display: inline-block;
        vertical-align: top;
    }
    h4 {text-align:center;}
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
    #overlay_text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
</style>

{% endblock %}

{% block scripts %}
<script>
    //var decisionVsAdv1 = document.getElementById("decision_vs_adv_1").value;

    //    function randInt(min, max) {
    //        return Math.floor(Math.random() * (max-min + 1) + min)
    //    }

    function show_adv (e){
        $(':button').prop('disabled', true);
        $(e).prop('disabled', false);
        if ('{{ adv_1_decision }}' == "Rock") {
            $("#adv_button_rock").prop('disabled', false);
            $("#adv_button_rock").show();

        } else if ('{{ adv_1_decision }}'  == "Paper") {
            $("#adv_button_paper").prop('disabled', false);
            $("#adv_button_paper").show();
        } else {
            $("#adv_button_scissors").prop('disabled', false);
            $("#adv_button_scissors").show();           
        }
    }

    function show_choice (e){ //e is participant button
        $(e).find('i').remove();
        console.log(e);
        if ($(e).text().trim() == 'Rock') {
            $(e).html($('<i/>',{class:'far fa-hand-rock fa-5x'})).append('Rock');
            $("#Paper").hide();
            $("#Scissors").hide();
        }
        else if ($(e).text().trim() == 'Paper') {
            $(e).html($('<i/>',{class:'far fa-hand-paper fa-5x'})).append('Paper');
            $("#Rock").hide();
            $("#Scissors").hide();
        }
        else {
            $(e).html($('<i/>',{class:'far fa-hand-scissors fa-5x fa-flip-horizontal'})).append('Scissors');
            $("#Paper").hide();
            $("#Rock").hide();
        }
    }

    function select_winner (e) {//e is participant button
        if (('{{ adv_1_decision }}' == "Rock") && ($(e).text().trim() == 'Paper')||//or
            (('{{ adv_1_decision }}' == "Paper") && ($(e).text().trim() == 'Scissors'))||//or
            (('{{ adv_1_decision }}' == "Scissors") && ($(e).text().trim() == 'Rock'))) {
            $(e).css('background-color','green');
            $("[id^=adv_button_]").css("background-color", "gray").hide(1500);
            return "player";
        } else if (('{{ adv_1_decision }}' == "Rock") && ($(e).text().trim() == 'Scissors')||//or
                   (('{{ adv_1_decision }}' == "Paper") && ($(e).text().trim() == 'Rock'))||//or
                   (('{{ adv_1_decision }}' == "Scissors") && ($(e).text().trim() == 'Paper'))) {
            $("[id^=adv_button_]").css("background-color", "red");
            return "adversary";

        } else {
            $(e).css('background-color','gray');
            $("[id^=adv_button_]").css("background-color", "gray");
            return "draw";
        }
    }

    function win_animation (w, e){ //w is a string of winner, e is player button
        if (w == "adversary") { //adversary won
            document.getElementById("overlay_text").innerHTML="You lost!";
        } else if (w == "player") { //player won
            document.getElementById("overlay_text").innerHTML="You won!";
        } else { //draw

            document.getElementById("overlay_text").innerHTML="It's a draw.";
        }
        document.getElementById("overlay").style.display = "block";

    }
    $(document).ready(function () { 
        $("#flip").click(function(){ //toggles instruction bar
            $("#panel").slideToggle("slow");
        });
        $("button").click(function(){ // when any button is clicked (only participant choices are visible)
            show_choice(this); // animate player's choice
            document.getElementById("my_hidden_value").value = $(this).attr("id"); //set the value of the player's choice to send to oTree/django
            setTimeout(function () {show_adv(this);},1000); //show the adversary's choice (maybe include a delay here)
            winner = select_winner(this); // choose a winner (no display here)
            setTimeout(function() {win_animation (winner, this);},1500); // animate the win
            setTimeout(function() { $('form').submit(); }, 5000);//delay for a moment before submitting to let player see. can remove this once win anmiation is coded
        });
    });


</script>

{% endblock %}


{% block content %}
<body>

    <h2 align="center">Round: {{player.round_number}} </h2>

    <button align="center" type="button" class="btn btn-secondary active" id="Rock" autocomplete="off">
        <i class="far fa-hand-rock fa-3x"></i>   Rock  
    </button>
    <br>

    <button align="center" type="button" class="btn btn-secondary active" id="Paper"  autocomplete="off">
        <i class="far fa-hand-paper fa-3x"></i>   Paper  
    </button>
    <br>
    <button align="center" type="button" class="btn btn-secondary active"  id="Scissors" autocomplete="off">
        <i class="far fa-hand-scissors fa-3x fa-flip-horizontal"></i> Scissors
    </button>
    <button id="adv_button_rock" style="display: none; background-color: red" class="btn btn-secondary active" name="adv_button" autocomplete="off">
        <i class="far fa-hand-rock fa-5x"></i>  Rock
    </button>

    <button id="adv_button_paper" style="display: none; background-color: red" class="btn btn-secondary active" name="adv_button" autocomplete="off">
        <i class="far fa-hand-paper fa-5x"></i>  Paper
    </button>

    <button id="adv_button_scissors" style="display: none; background-color: red" class="btn btn-secondary active" name="adv_button" autocomplete="off">
        <i class="far fa-hand-scissors fa-5x fa-flip-horizontal"></i>  Scissors
    </button>
    <div id="overlay" onclick="off()">
        <div id="overlay_text">Overlay Text</div>
    </div>
    <input type="hidden" name="decision_vs_adv_1" id="my_hidden_value">

    <hr>
    <!-- Table history of choices for player and adversary 1 -->
    <table border=1  class="inlineTable table-bordered text-center" style="width: auto; margin: auto">
        <td><b>Round</b></td>
        {% for num in list_of_round_nums   %}
        <tr>
            <td>{{ num }}</td>
        </tr>
        {% endfor %}
    </table>
    <table border=1  class="inlineTable table-bordered text-center" style="width: auto; margin: auto">
        <td><b>You</b></td>
        {% for day in my_decision_adv_1_total   %}
        <tr>
            <td>{{ day }}</td>
        </tr>
        {% endfor %}
    </table>
    <table border=1  class="inlineTable table-bordered text-center" style="width: auto; margin: auto">
        <td><b>Competitor</b></td>
        {% for night in adv_1_decision_total   %}
        <tr>
            <td>{{ night }}</td>
        </tr>
        {% endfor %}
    </table>

    <div id="flip">Click for a reminder on Instructions</div> 
    <div id="panel">{% include Constants.instructions_template %}</div>
</body>
{{ form.decision_vs_adv_1.errors }}
{% endblock %}
