<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<style>
  .adv_hand {
    transform: rotate(270deg) scaleX(-1);

  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  var adversary_id = "{{ adversary_id }}"
  $(document).ready(function() {
    if (adversary_id == 'AI'){
      $("#adversary_description").html('Adversary: <b>AI</b> - <i class="fas fa-laptop-code fa-2x"></i>')
    } else if (adversary_id.endsWith('w/AI')){
      $("#adversary_description").html('Adversary: <b>Another human player who has AI</b>  <i class="far fa-user fa-2x"><i align="center" class="fas fa-laptop-code"></i></i>!')
    }
  });
</script>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Rock-Paper-Scissors</title>
  </head>
  <body style="background-color: lightgray; color: black">
    {% load otree static %}
    <div class="card bg-light instructions">
      <div class="card-body">    
        <div> In this game, you are playing Rock-Paper-Scissors against another player, but there's a twist!</div><br>
        <b>Players:</b>
        <ul>
          <li>You: (Player {{ participant.label}})<i align="center" class="fas fa-user-circle fa-2x"></i></li>
          <li id = "adversary_description">Adversary: <b>Another human player</b> <i  align="center" class="far fa-user fa-2x"></i> </li>
        </ul>
        <br>
        <p> Like any command situation, <br>you may make the choice yourself <b>OR</b> you may ask one of your trusted advisors to choose for you. </p>
        <p><u> To choose for yourself</u>, click <button align="center" type="button" style="border-color: black" class="btn btn-secondary active" autocomplete="off">
          <i class="far fa-hand-rock fa-lg"></i><br><small>Rock</small>
          </button>, <button align="center" type="button" style="border-color: black" class="btn btn-secondary active" autocomplete="off">
          <i class="far fa-hand-paper fa-lg"></i><br><small>Paper</small>
          </button>, or 
          <button align="center" type="button" style="border-color: black" class="btn btn-secondary active" autocomplete="off">
            <i class="far fa-hand-scissors fa-lg"></i><br><small>Scissors</small>
          </button></p>
        OR
        <p> <u>To have an expert advisor choose for you</u>, click <button type="button" align="center" style="border-color: black;" class="btn btn-secondary active"   autocomplete="off">
          <i class="fas fa-desktop fa-lg"></i><i class="fas fa-server fa-lg"></i><br><small>AI</small>
          </button>  or <button type="button" align="center" style="border-color: black;" class="btn btn-secondary active"   autocomplete="off">
          <i class="fas fa-user fa-lg"></i><br><small>Human</small></button></p><hr>

        <p>
          Winner receives 1 point (+1).  Loser loses a point (-1).  In a draw, both players get zero points (0). 
        </p>
        <table align="center">
          <tr>
            <td align="center">

              <i class="far fa-hand-rock fa-2x fa-rotate-90"></i><br><small>Rock</small>

            </td>
            <td align="center">beats</td>
            <td align="center">

              <i class="far fa-hand-scissors fa-2x"></i><br><small>Scissors</small>

            </td>

          </tr>
          <tr><td align="center" colspan=3>--------------------</td></tr>
          <tr>
            <td align="center">

              <i class="far fa-hand-scissors fa-2x fa-rotate-90 fa-flip-horizontal"></i><br><small>Scissors</small>

            </td>
            <td align="center">beats</td>
            <td align="center">

              <i class="adv_hand far fa-hand-paper fa-2x"></i><br><small>Paper</small>

            </td>

          </tr>
          <tr><td align="center" colspan=3>--------------------</td></tr>
          <tr>
            <td align="center">

              <i class="far fa-hand-paper fa-2x fa-rotate-90"></i><br><small>Paper</small>

            </td>
            <td align="center">beats</td>
            <td align="center">

              <i class="adv_hand far fa-hand-rock fa-2x"></i><br><small>Rock</small>

            </td>
          </tr>
        </table>
        <br>
        <hr>
        <p><b>Good luck!</b></p>
      </div>
    </div>
  </body>
</html>
