{% extends "global/Page.html" %} {% load otree static %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
{% endblock %}

{% block title %}
Gathering participants
{% endblock %}



{% block scripts %}

<script>
    
    function playerOne(){
        $("#progressBar").html("One Participant joined.");
        $("#progressBar").css("width","60%");
    }
    function allPlayers(){
        $("#progressBar").html("All Participants joined.");
        $("#progressBar").css("width","90%");
    }
    function activateAI(){
        $("#progressBar").html("Activating AI.");
        $("#progressBar").css("width","100%");
    }
    $(document).ready(function(){
        var adversary_id = "{{ adversary_id }}";
        if (adversary_id.endsWith("w/AI")) {
            setTimeout(function(){playerOne();}, 3000);
            $("#num_participants").html("Waiting for <b>2</b> participants (Advisor and Adversary)...");
            $("#type_adversary").html('<h2>Forming game against <b style="text-decoration: underline">AI-assisted Human</b> adversary</h2>');
        } else if (adversary_id != "AI"){
            setTimeout(function(){playerOne();}, 3000);
            $("#num_participants").html("Waiting for <b>2</b> participants (Advisor and Adversary)...");
            $("#type_adversary").html('<h2>Forming game against <b style="text-decoration: underline">Human</b> adversary</h2>');
        };
//        Math.floor(Math.random() * 1000) + 500 // would use to randomize timing of simulated players joining
        setTimeout(function(){allPlayers();}, 9000);
        setTimeout(function(){activateAI();}, 10000);
        setTimeout(function() { $('form').submit(); }, 12000);
    });
</script>
{% endblock %}

{% block content %}
<body style="background-color: lightgray; color: black">
    <div class="card bg-light instructions">
        <div class="container">
            <div id="type_adversary"><h2>Forming game against <b style="text-decoration: underline">AI</b> adversary</h2></div>
            <div id="num_participants">Waiting for <b>1</b> participant (Advisor)...</div>
            <div class="progress">
                <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" style="width:20%">Request sent...</div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
