{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Your Choice
{% endblock %}

{% block scripts %}
<script>


</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

<style>
    .highlight-row-on-hover:hover td {
        background-color: #fcf8e3;
    }

    h4 {text-align:center;}
</style>
<style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
</style>
<style>
.otree-chat {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 30px 0 0 0;
}
.otree-chat__messages {
    height: 200px;
    overflow: auto;
    background: #eee;
    margin: 2px 0 5px 0;
}

.otree-chat__nickname {
    display: inline-block;
    color: #C07A36;
    width: 150px;
    font-weight: bold;
}
</style>
{% endblock %}

{% block content %}


<div class="form-group required">
    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th colspan="2" rowspan="2"></th>
            <th colspan="2">Competitor</th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr class="highlight-row-on-hover">
            <th rowspan="2"><span class="rotate90">You</span></th>
            <td><button name="decision" value="Cooperate" class="btn btn-primary btn-large">I will cooperate</button></td>
            <td>{{Constants.both_cooperate_payoff}}, {{Constants.both_cooperate_payoff}}</td>
            <td>{{ Constants.betrayed_payoff }}, {{Constants.betray_payoff}}</td>
        </tr>
        <tr class="highlight-row-on-hover">
            <td><button name="decision" value="Defect" class="btn btn-primary btn-large">I will defect</button></td>
            <td>{{Constants.betray_payoff}}, {{ Constants.betrayed_payoff }}</td>
            <td>{{Constants.both_defect_payoff}}, {{Constants.both_defect_payoff}}</td>
        </tr>
    </table>
</div>

<br>
<p>Here you can chat with the other participant.</p>


{% chat %}


{% include Constants.instructions_template %}

{% endblock %}
