{% load otree static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<body style="background-color: lightgray; color: black">
    <div class="card bg-light instructions">
        <div class="card-body">


            <link rel="stylesheet" type="text/css"
                  href="{% static 'global/matrix.css' %}"/>

            <p>
                In this game, you are playing "the Peace-War game" with an artifically intelligent (AI) player. 
            </p>
            <p> 
                <b> Scenario:</b> You and the other player (the AI) are military-political decision-makers for your respective countries.  
                <br>
                <b> Decisions:</b> In each round, choose <b>Peace</b> or <b>War</b> with this competitor.
                <br>
                <b> Communication:</b> You may communicate with the other player, but your choices of what to say are limited.
                <br>
            </p>
            <b> Scoring: </b>
            <ul>
                <li>If you both select peace, you enjoy prosperity and get {{ Constants.both_cooperate_payoff }}.</li>
                <li>If one of you chooses Peace and the other chooses War, the player who chose Peace gets defeated and gets {{ Constants.betrayed_payoff }} and the player who chose War wins the spoils and gets {{ Constants.betray_payoff }}.</li>
                <li>If both of you select War, you go to a costly war and both of you receive {{ Constants.both_defect_payoff }}.</li>
            </ul>
            <p> Therefore, your best interest is based upon the combination of your choice and your adversary's choice.  You will not know your adversary's choice until after you select yours, but you can see previous choices. </p>

            <b> Goal:</b> Maximize your score!
            <p>
                Your payoffs will be determined by the choices of both you and your adversary as below:
            </p>

            <table class='table table-bordered text-center'
                   style='width: auto; margin: auto'>
                <tr>
                    <th colspan=2 rowspan=2></th>
                    <th colspan=2>The Other Participant</th>
                </tr>
                <tr>
                    <th>Cooperate</th>
                    <th>Defect</th>
                </tr>
                <tr>
                    <th rowspan=2><span class="rotate90">You</span></th>
                    <th>Cooperate</th>
                    <td>{{ Constants.both_cooperate_payoff }}, {{ Constants.both_cooperate_payoff }}</td>
                    <td>{{ Constants.betrayed_payoff }}, {{ Constants.betray_payoff }}</td>
                </tr>
                <tr>
                    <th>Defect</th>
                    <td>{{ Constants.betray_payoff }}, {{ Constants.betrayed_payoff }}</td>
                    <td>{{ Constants.both_defect_payoff }}, {{ Constants.both_defect_payoff }}</td>
                </tr>
            </table>
            
        </div>
    </div>
</body>